

// Variables
@import 'variables';

@import "~bootstrap-v4-rtl/scss/bootstrap-rtl";
@import "~vazir-font/dist/font-face.css";
@import "~sweetalert2/src/sweetalert2.scss";


body{
  font-family: 'Vazir', sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
